# Projecto estudio world population.csv de Kaggle

Relación entre densidad de población máxima (top ten) y renta per cápita

In [149]:
import numpy as np
import pandas as pd

df = pd.read_csv('/content/world_population.csv', sep=',', header=0)

# Obtenemos el top ten de máxima densidad de población
df_dens_pop=df.sort_values('Density (per km²)', ascending=False) 
df_top10 = df_dens_pop.head(10)

# Buscamos los datos del Banco Mundial, de la renta per cápita de los top ten y los guardamos 
rpc = [43873.59, 234315.46, 72794.00, 49800.54, 64000.00, 26562.97, 10366.29, 33486.67, 28988.26, 114090.30]
df_top10 ['rpc'] = rpc

# Buscamos rpc de otros países, para poder comparar y los guardamos, a parte
paises = ['EEUU', 'UE', 'Alemania', 'Mundo', 'Colombia', 'España']
rpcs  = [70248.60, 38411.10, 51203.60, 12236.60, 6104.10, 30103.50]

dfc = pd.DataFrame()

dfc['Pais'] = paises
dfc['RPC'] = rpcs

# Comparamos con los top ten
'''
for i in range(len(df_top10)):
    for j in range(len(dfc)):
      if (dfc.iloc[j]['RPC'] < df_top10.iloc[i]['rpc'])*1==1:
          print(df_top10.iloc[i]['Country/Territory'], df_top10.iloc[i]['rpc'], ' > ',
                dfc.iloc[j]['Pais'], dfc.iloc[j]['RPC'])
'''
          
# Guardamos dos columnas con rpc de EEUU y de la UE, para poder operar en el futuro
rpc_EEUU = [70248.60, 70248.60, 70248.60, 70248.60, 70248.60, 70248.60, 70248.60, 70248.60, 70248.60, 70248.60]
df_top10 ['rpc EEUU'] = rpc_EEUU
rpc_UE = [38411.10, 38411.10, 38411.10, 38411.10, 38411.10, 38411.10, 38411.10, 38411.10, 38411.10, 38411.10]
df_top10 ['rpc UE'] = rpc_UE

df_top10

<ipython-input-149-24660342a66b>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_top10 ['rpc'] = rpc
<ipython-input-149-24660342a66b>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_top10 ['rpc EEUU'] = rpc_EEUU
<ipython-input-149-24660342a66b>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_top10 ['rpc UE'] = rpc_UE

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,rpc,rpc EEUU,rpc UE
119,167,MAC,Macau,Concelho de Macau,Asia,695168,676283,615239,557297,431896,350227,245332,247284,30,23172.2667,1.0125,0.01,43873.59,70248.6,38411.1
134,217,MCO,Monaco,Monaco,Europe,36469,36922,36760,33178,32465,30329,27076,24270,2,18234.5000,0.9941,0.00,234315.46,70248.6,38411.1
187,113,SGP,Singapore,Singapore,Asia,5975689,5909869,5650018,5163590,4053602,3022209,2400729,2061831,710,8416.4634,1.0058,0.07,72794.00,70248.6,38411.1
89,104,HKG,Hong Kong,Hong Kong,Asia,7488865,7500958,7399838,7132438,6731195,5838574,4978544,3955072,1104,6783.3922,0.9992,0.09,49800.54,70248.6,38411.1
76,219,GIB,Gibraltar,Gibraltar,Europe,32649,32709,32520,31262,27741,27317,28734,26685,6,5441.5000,0.9994,0.00,64000.00,70248.6,38411.1
15,154,BHR,Bahrain,Manama,Asia,1472233,1477469,1362142,1213645,711442,517418,362595,222555,765,1924.4876,1.0061,0.02,26562.97,70248.6,38411.1
123,174,MDV,Maldives,Malé,Asia,523787,514438,435582,361575,282507,224957,164887,123243,300,1745.9567,1.0045,0.01,10366.29,70248.6,38411.1
125,173,MLT,Malta,Valletta,Europe,533286,515357,456579,418755,399212,365392,333587,315414,316,1687.6139,1.0124,0.01,33486.67,70248.6,38411.1
188,214,SXM,Sint Maarten,Philipsburg,North America,44175,43621,40205,33034,30489,27845,12243,6260,34,1299.2647,1.0030,0.00,28988.26,70248.6,38411.1
22,206,BMU,Bermuda,Hamilton,North America,64184,64031,63144,63447,61371,57470,53565,52019,54,1188.5926,1.0000,0.00,114090.30,70248.6,38411.1

Construimos un nuevo df agrupando (Continente, rpc>repc EEU, rpc> rpc UE, tasa de crecimiento > 1 y densidad de población)

In [150]:
df_top10[["Continent", "Rank"]].groupby("Continent").count()

               Rank
Continent
Asia              5
Europe            3
North America     2

Ups, los paises europeos son menos que los asiáticos, pero tienen un rpc mayor. Y también que los de Norte América

In [153]:
df_top10[["Continent", "rpc"]].groupby("Continent").agg(['count', 'sum', 'min','max', 'mean', 'median'])

                rpc
              count        sum       min        max        mean    median
Continent
Asia              5  203397.39  10366.29   72794.00   40679.478  43873.59
Europe            3  331802.13  33486.67  234315.46  110600.710  64000.00
North America     2  143078.56  28988.26  114090.30   71539.280  71539.28

Creamos un df con la agregación creada

In [154]:
df_top10_agr = df_top10[["Continent", "rpc"]].groupby("Continent").agg(['count', 'sum', 'min','max', 'mean', 'median'])

Obtenemos las columnas de las rpc de los EEUU para añadirlas al nuevo df

In [155]:
rpcEEUU=df_top10[["Continent", "rpc EEUU"]].groupby("Continent").agg(['mean'])
df_top10_agr['rpc EEUU'] = rpcEEUU
df_top10_agr

                rpc                                                        \
              count        sum       min        max        mean    median
Continent
Asia              5  203397.39  10366.29   72794.00   40679.478  43873.59
Europe            3  331802.13  33486.67  234315.46  110600.710  64000.00
North America     2  143078.56  28988.26  114090.30   71539.280  71539.28

              rpc EEUU

Continent
Asia           70248.6
Europe         70248.6
North America  70248.6

Ahora hacemos lo mismo con la rpc de la UE

In [156]:
rpcUE=df_top10[["Continent", "rpc UE"]].groupby("Continent").agg(['mean'])
df_top10_agr['rpc UE'] = rpcUE
df_top10_agr

                rpc                                                        \
              count        sum       min        max        mean    median
Continent
Asia              5  203397.39  10366.29   72794.00   40679.478  43873.59
Europe            3  331802.13  33486.67  234315.46  110600.710  64000.00
North America     2  143078.56  28988.26  114090.30   71539.280  71539.28

              rpc EEUU   rpc UE

Continent
Asia           70248.6  38411.1
Europe         70248.6  38411.1
North America  70248.6  38411.1

Obtenemos la info del nuevo df

In [157]:
df_top10_agr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Asia to North America
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (rpc, count)   3 non-null      int64
 1   (rpc, sum)     3 non-null      float64
 2   (rpc, min)     3 non-null      float64
 3   (rpc, max)     3 non-null      float64
 4   (rpc, mean)    3 non-null      float64
 5   (rpc, median)  3 non-null      float64
 6   (rpc EEUU, )   3 non-null      float64
 7   (rpc UE, )     3 non-null      float64
dtypes: float64(7), int64(1)
memory usage: 216.0+ bytes

Comparamos la media del rpc del continente, con el rpc de los EEUU

In [158]:
df_top10_agr
df_top10_agr.iloc[1,4]>df_top10_agr.iloc[1,6]

True

Creamos un df con la comparación de estas columnas y lo agregamos como una columna a nuestro df agregado

In [159]:
dfc_rpc_Continente_EEUU = pd.DataFrame()

Continent = [df_top10_agr.index[0], df_top10_agr.index[1], df_top10_agr.index[2]]
rpcs_vs_EEUU  = [df_top10_agr.iloc[0,4]>df_top10_agr.iloc[0,6], df_top10_agr.iloc[1,4]>df_top10_agr.iloc[1,6], df_top10_agr.iloc[2,4]>df_top10_agr.iloc[2,6]]

dfc_rpc_Continente_EEUU['Continent'] = Continent
dfc_rpc_Continente_EEUU['media RPC vs EEUU'] = rpcs_vs_EEUU

dfc_rpc_Continente_EEUU

df_top10_agr ['media RPC vs EEUU'] = rpcs_vs_EEUU
df_top10_agr

                rpc                                                        \
              count        sum       min        max        mean    median
Continent
Asia              5  203397.39  10366.29   72794.00   40679.478  43873.59
Europe            3  331802.13  33486.67  234315.46  110600.710  64000.00
North America     2  143078.56  28988.26  114090.30   71539.280  71539.28

              rpc EEUU   rpc UE media RPC vs EEUU

Continent
Asia           70248.6  38411.1             False
Europe         70248.6  38411.1              True
North America  70248.6  38411.1              True

Hacemos lo mismo con la UE

In [160]:
dfc_rpc_Continente_UE = pd.DataFrame()

Continent = [df_top10_agr.index[0], df_top10_agr.index[1], df_top10_agr.index[2]]
rpcs_vs_UE  = [df_top10_agr.iloc[0,4]>df_top10_agr.iloc[0,7], df_top10_agr.iloc[1,4]>df_top10_agr.iloc[1,7], df_top10_agr.iloc[2,4]>df_top10_agr.iloc[2,7]]

dfc_rpc_Continente_UE['Continent'] = Continent
dfc_rpc_Continente_UE['media RPC vs UE'] = rpcs_vs_UE

dfc_rpc_Continente_UE

df_top10_agr ['media RPC vs UE'] = rpcs_vs_UE
df_top10_agr

                rpc                                                        \
              count        sum       min        max        mean    median
Continent
Asia              5  203397.39  10366.29   72794.00   40679.478  43873.59
Europe            3  331802.13  33486.67  234315.46  110600.710  64000.00
North America     2  143078.56  28988.26  114090.30   71539.280  71539.28

              rpc EEUU   rpc UE media RPC vs EEUU media RPC vs UE

Continent
Asia           70248.6  38411.1             False            True
Europe         70248.6  38411.1              True            True
North America  70248.6  38411.1              True            True

Repetimos lo que hemos hecho para la tasa de crecimiento de la población (consideraremos tasa positiva > 1)

In [192]:
df_GR_vs_1 = pd.DataFrame()

media_GR=[df_top10[["Continent", "Growth Rate"]].groupby("Continent").agg(['mean']).iloc[0,0], df_top10[["Continent", "Growth Rate"]].groupby("Continent").agg(['mean']).iloc[1,0], df_top10[["Continent", "Growth Rate"]].groupby("Continent").agg(['mean']).iloc[2,0]]
media_GR_vs_1 = [media_GR[0]>1,media_GR[1]>1,media_GR[2]>1]

df_top10_agr ['media GR'] = media_GR
df_top10_agr ['media GR vs 1'] = media_GR_vs_1

df_top10_agr

                rpc                                                        \
              count        sum       min        max        mean    median
Continent
Asia              5  203397.39  10366.29   72794.00   40679.478  43873.59
Europe            3  331802.13  33486.67  234315.46  110600.710  64000.00
North America     2  143078.56  28988.26  114090.30   71539.280  71539.28

              rpc EEUU   rpc UE media RPC vs EEUU media RPC vs UE  media GR  \

Continent
Asia           70248.6  38411.1             False            True  1.005620
Europe         70248.6  38411.1              True            True  1.001967
North America  70248.6  38411.1              True            True  1.001500

              media GR vs 1

Continent
Asia                   True
Europe                 True
North America          True

La rpc es más alta en Europa, pero la tasa de crecimiento y el número de lugares más densamente poblados, está en Asia.
Aparentemente el futuro está en Asia.